<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'admin')}">
<head>
    <meta charset="UTF-8">
    <title>Administrator Page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row mb-1">
        <h1 th:text="'Administrator Page'">List of users</h1>
    </div>
    <div class="row mb-3">
        <div class="col-1">
            <a th:href="@{/admin/create}" class="btn btn-primary" role="button">Create</a>
        </div>
    </div>
    <div class="row mb-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">Username</th>
                <th style="width: 150px;">Email</th>
                <th style="width: 150px;">Role</th>
                <th style="width: 150px;">First Name - Last Name</th>
                <th style="width: 150px;">Update</th>
                <th style="width: 150px;">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}">userId</td>
                <td th:text="${user?.username}">username</td>
                <td th:text="${user?.email}">email</td>
                <td th:text="${user?.roleLabel}">role</td>
                <td th:text="${user?.name}">name</td>
                <td><a th:href="@{/admin/update/{id}(id=${user.userId})}" class="btn btn-primary"
                       role="button">Update</a></td>
                <td><a th:href="@{/admin/delete/{id}(id=${user.userId})}" class="btn btn-primary"
                       role="button">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
