<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar" th:fragment="sidebar">
    <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">School App</div>
    </div>
    <ul class="sidebar-nav">
        <li class="nav-title">Available Options</li>
        <li class="nav-item" th:fragment="menuItem (path,active,title,glyph,text)">
            <a class="nav-link" th:class="${active==menu ? 'nav-link active' : 'nav-link'}"
               th:href="@{__${path}__}" th:title="${title}">
                <span th:text="${text}">Template</span>
            </a>
        </li>
        <li class="nav-item"
            th:replace="::menuItem ('/teachers','teachers','teacher courses','search','Teachers Dashboard')">
        </li>
    </ul>
</div>
