<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
</head>
<body>
<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!--Main part -->
<div class="wrapper d-flex flex-column min-vh-100" th:fragment="main"></div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap/boostrap.js}"></script>
</html>
